@charset "UTF-8";

/*Fontes Externas*/
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
/*Titulo*/
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
/*Corpo*/

/*Váriaveis CSS*/

:root {
    --cor1: #F0FFFF;
    --cor2: #808080;
    --cor3: #000000;
    --cor4: #ad1f2b;
    --cor5: #4682B4;
    --cor6: #3CB371;

    --titulo: 'Birthstone, sans-serif';
    --texto: 'Mr Dafoe, sans-serif';
}

/* Reset CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7f8;
}

/*Layout*/

.container {
    margin: 0 auto;
    /*background: #808080;*/
}

#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.botao {
    text-decoration: none;
    color: var(--cor1);
    font-size: 1.3em;
    font-weight: 700;
    background: var(--cor3);
    border: 3px solid var(--cor1);
    border-radius: 25px;
    padding: 10px 40px;
}

.flex {
    display: flex;
    justify-content: space-between;

}

.flex2{
    display: flex;
    align-items: center;
}

.flex3{
    display: flex;
    flex-direction: column;
}

/*SMARTPHONE PORTRAIT*/
header {
    height: 60px;
    background: var(--cor1);
}

#check {
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
}

nav ul {
    list-style: none;
    background: var(--cor5);
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
}

nav ul li {
    padding: 20px;
    border-bottom: var(--cor3) 1px solid;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor3);
    font-family: var(--texto);
    font-size: 1.3em;
}

#check:checked~ul {
    right: 0;
}

/*Destaque*/
main {
    height: 75vh;
    background: url(img/banner_front.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--cor3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: var(--titulo);
}

main h1 {
    font-size: 3em;
}

main h2 {
    font-size: 1.5em;
    margin: 20px 0px 50px 0px;
}

/*Sobre*/
#sobre{
    background: url(img/background5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
}

.destaque_sobre{
    display: none;
}
.texto_sobre{
    color: var(--cor5);
    padding: 0px 10px;
    font-family: var(--texto);
}
.texto_sobre h2{
    margin-bottom: 10px;
    font-family: var(--titulo);
    font-size: 2em;
}
.texto_sobre p{
    font-size: 1.3em;

}
.topico_sobre{
    margin-top: 20px;
}
.topico_sobre img{
    margin-right: 10px;
}

/*One Page*/
#onepage{
    padding: 50px 10px;
}
#onepage h2{
    font-family: var(--titulo);
    margin-bottom: 10px;
    font-size: 2em;
}
#onepage p{
    font-family: var(--texto);
    margin-bottom: 25px;
    font-size: 1.4em;
}
.video iframe{
    width: 340px;
    height: 250px;
}


/*SMARTPHONE LANDSCAPE*/
@media (min-width:576px) {

    /* body{
        background: #e98903;
    }*/
    .container {
        max-width: 540px;
    }

    label {
        right: 65px;
    }

    /*Destaque*/
    main h1, main h2{
        text-shadow: var(--cor5) 0.1em 0.1em 0.3em;
    }
    /*One Page*/
    .video iframe{
        width: 560px;
        height: 315px;
    }
}

/*TABLET PORTRAIT*/
@media (min-width:768px) {

    /*body{
        background: #e7e706;
    }*/
    .container {
        max-width: 720px;
    }

    label {
        right: 35px;
    }

    main{
        height: 45vh;
    }

    main h1{
        font-size: 5em;
    }

    main h2{
        font-size: 2em;
    }

    /*Sobre*/
    .texto_sobre h2{
        font-size: 2.8em;
    }
    .texto_sobre p{
        font-size: 1.8em;
    }
}

/*TABLET LANDSCAPE*/
@media (min-width:992px) {

    /*body{
        background: #15c005;
    }*/
    .container {
        max-width: 960px;
    }

    /*Destaque*/
    main{
        height: 70vh;
    }
}

/*PC*/
@media (min-width:1200px) {

    /*body{
        background: #0a7fc7;
    }*/
    .container {
        max-width: 1140px;
    }

/*Cabeçalho*/
    header {
        height: 125px;
    }

    .logo img {
        margin-top: 30px;
        margin-left: 30px;
    }

    label {
        display: none;
    }
    
    nav ul {
        position: static;
        height: auto;
        background: transparent;
        margin-top: 50px;
    }
    
    nav ul li {
        float: left;
        border: 0;
    }
    
    nav ul li a {
        color: var(--cor5);
    }
    
    nav ul li a:hover {
        color: #c41010;
    }

    /*Sobre*/
    .destaque_sobre{
        display: inline;
    }
    .destaque_sobre img{
        border-radius: 50%;
        margin-right: 50px;
    }
    #sobre{
        background-attachment: fixed; /*efeito parallax*/
    }

    /*One Page*/
    .flex3{
        flex-direction: row;
        align-items: center;
    }
}

